<div id="head">
    <a href="/"><img id="logo" src="../../images/airbnb-1.svg" alt="Myairbnb Logo" /><h1>Myairbnb</h1></a>
    <div id="user"><img src="/images/user.svg" alt="User"></div>
    <!-- <hr id="divider"> -->

    <div id="userOptions">
        <div id="UserName"></div>
        <div id="ReservationsBox"></div>
    </div>

</div>

