<div id="register">
    <div id="closeBox">
        <img src="/images/close.svg" alt="Close Icon">
    </div>

    <form action="">
        <h2>Log In</h2>
        <input type="text" placeholder="Email" id="Email">
        <input type="password" placeholder="Password" id="Password">
        <div id="LogInDiv">
            <button id="LogInButton">Log in</button>
        </div>

        <h4 id="divider">or</h4>


        <h2>Sign Up</h2>
        <input type="text" placeholder="Email" id="SignUpEmail">
        <input type="password" placeholder="Password" id="SignUpPassword">
        <input type="password" placeholder="ConfirmPassword" id="ConfirmPassword">
        <div id="SignUpDiv">
            <button id="SignUpButton">Sign Up</button>
        </div>

    </form>
</div>